---
import Layout from "../layout/layout.astro";
---

<Layout title="Catálogo de Comidas Argentinas">

    <h1>¡Bienvenido!</h1>

    <p>Este es un catálogo de algunas de las comidas de Argentina</p>

</Layout>
